<% tags.each do |category, tags| %>
  <h2><%= category.capitalize %></h2>
  <div class="tag-cards">
    <% tags.each do |tag| %>
      <div class="card">
        <div class="viewer">

          <!-- the tag -->
          <div class="<%= tag[:basename] %>">
            <%= tag[:html] %>
          </div>

          <!-- clipboard mechanism -->
          <textarea style="display: none;" >
            <%= tag[:html] %>
          </textarea>

        </div>
        <div class="info">
          <p><%= tag[:title] %></p>
          <button class="copy-snippet-button">Copy Snippet</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
