<% categories.each do |category, tags| %>
  <h2><%= category %></h2>
  <div id="content">
    <% tags.each do |tag| %>
      <div class="card">
        <div class="viewer">
          <style><%= tag[:style] %></style>
          <div class="<%= tag[:filename] %>">
            <img src="<%= tag[:svg_file] %>" alt="<%= tag[:title] %>"/>
          </div>
        </div>
        <div class="info">
          <p><%= tag[:title] %></p>
          <button class="copy-snippet-button">Copy Snippet</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
